body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e6e6e6;
    padding: 0;
    margin:0;
    min-height:400px;
    
}

.container{
    width: 65%;
    height: auto;
    background: white;
    margin:auto;
    margin-top: 5px;
    padding-bottom: 5px;
    min-height: 600px;
    position: relative;
}

.logo {
    font-size: xx-large;
    padding: 30px 0 30px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a75ff;
    border: 1px solid gainsboro;
}

nav li {
    float: left;
}

nav li a{
    display: inline-block;
    color:#ffffff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

nav li a:hover {
    opacity:0.9;
    background-color: #3385ff;
}

/* active */
nav li .active {
    opacity:0.9;
    background-color: #3385ff;
}

header .logo img {
    float: left;
}


article {
    width: 98.8%;
    height: auto;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    border: 1px solid gainsboro;
    clear: both;
}

article .konten {
    width: 23.5%;
    height: 220px;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
    overflow: hidden;
    text-align: center;
}

.isi {
    width: 90%;
    height: auto;
    background: white;
    margin:auto;
    margin-top: 30px;
    padding-bottom: 5px;
  }

article .konten img {
    width: 100%;
    max-height: 150px;
    margin: 5px 5px 5px 5px;

}

article .konten:hover {
    opacity:0.9;
}

article .konten .judul a {
    text-decoration: none;
    font-size:14px;
    background: blue;
    padding: 5px 20px;
    color: white;
}

article .konten a:hover {
    opacity:0.9;
}

article .konten p {
    font-size:12px;
    color:#020101;
}

footer {
    clear: both;
    width: 98.8%;
    height: auto;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-top: 15px;
    padding-bottom: 5px; 
    font-size: 12px; 
    bottom:5px;
    position: absolute;
}

article .gambar-detail {
    margin-top:20px;
    text-align:center;
    float: left;
}

article table {
    margin:20px;
    font-size: 12px;
}
